In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

#Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,East London,ZA,2021-10-07 01:29:01,-33.0153,27.9116,63.05,87,18,12.19
1,1,Sitka,US,2021-10-07 01:29:03,57.0531,-135.3300,48.09,66,75,0.00
2,2,At-Bashi,KG,2021-10-07 01:29:03,41.1702,75.8106,40.75,91,100,2.64
3,3,Dunedin,NZ,2021-10-07 01:29:03,-45.8742,170.5036,58.80,81,3,11.01
4,4,Arraial Do Cabo,BR,2021-10-07 01:29:04,-22.9661,-42.0278,70.61,86,96,22.48

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use my Google API Key
gmaps.configure(api_key=g_key)

In [5]:
#Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
#Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Create a Percent Cloudiness Heatmap
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Create a Wind Speed Heatmap
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Panlaitan,PH,2021-10-07 01:29:05,12.1191,119.8486,83.14,78,100,12.12
8,8,Kandrian,PG,2021-10-07 01:29:06,-6.2167,149.5500,83.39,73,28,4.45
9,9,Cabo San Lucas,MX,2021-10-07 01:29:06,22.8909,-109.9124,88.11,54,1,3.44
10,10,San Patricio,US,2021-10-07 01:29:07,28.0170,-97.5169,80.49,52,0,9.04
12,12,Angoram,PG,2021-10-07 01:29:08,-4.0625,144.0661,77.79,86,99,2.77
15,15,Airai,TL,2021-10-07 01:29:09,-8.9266,125.4092,77.85,31,7,3.80
16,16,Georgetown,MY,2021-10-07 01:29:10,5.4112,100.3354,84.13,88,40,4.61
21,21,Victoria,HK,2021-10-07 01:26:09,22.2855,114.1577,89.22,67,8,5.01
23,23,Atuona,PF,2021-10-07 01:29:13,-9.8000,-139.0333,78.51,75,4,19.53
35,35,Boca Do Acre,BR,2021-10-07 01:29:17,-8.7522,-67.3978,75.90,85,43,1.59

In [12]:
preferred_cities_df.count()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
6        Panlaitan      PH     83.14  12.1191  119.8486
8         Kandrian      PG     83.39  -6.2167  149.5500
9   Cabo San Lucas      MX     88.11  22.8909 -109.9124
10    San Patricio      US     80.49  28.0170  -97.5169
12         Angoram      PG     77.79  -4.0625  144.0661
15           Airai      TL     77.85  -8.9266  125.4092
16      Georgetown      MY     84.13   5.4112  100.3354
21        Victoria      HK     89.22  22.2855  114.1577
23          Atuona      PF     78.51  -9.8000 -139.0333
35    Boca Do Acre      BR     75.90  -8.7522  -67.3978

In [14]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Panlaitan,PH,83.14,12.1191,119.8486,Panlaitan Cetro Beach
8,Kandrian,PG,83.39,-6.2167,149.5500,Kandrian Station
9,Cabo San Lucas,MX,88.11,22.8909,-109.9124,Hotel Tesoro Los Cabos
10,San Patricio,US,80.49,28.0170,-97.5169,"Motel 6 Sinton, TX"
12,Angoram,PG,77.79,-4.0625,144.0661,
15,Airai,TL,77.85,-8.9266,125.4092,Juvinal Martin
16,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
21,Victoria,HK,89.22,22.2855,114.1577,Mini Hotel Central
23,Atuona,PF,78.51,-9.8000,-139.0333,Villa Enata
35,Boca Do Acre,BR,75.90,-8.7522,-67.3978,Hotel Sao Pedro

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))